{{ define "main" }}
<div class="terminal-window">
  <div class="terminal-titlebar">history | sort -k2</div>
  <div class="terminal-body">
    <section>
      <h2 class="category-title">ARCHIVE</h2>

      {{ $grouped := .Site.RegularPages.GroupByDate "2006" }}

      {{ range $grouped }}
      <h3># {{ .Key }}</h3>
      <ul>
        {{ range .Pages }}
        <li>
          <time>{{ .Date.Format "02 Jan" }} — </time>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </section>
  </div>
</div>
{{ end }}
